<div class="avplayer-ui-info">
  <div class="avplayer-ui-info-title">
    {{language.INFO_TITLE}}
  </div>
  <span class="avplayer-ui-info-close" on-click="close()">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" data-pointer="none" viewBox="0 0 16 16"><path d="m8 6.939 3.182-3.182a.75.75 0 1 1 1.061 1.061L9.061 8l3.182 3.182a.75.75 0 1 1-1.061 1.061L8 9.061l-3.182 3.182a.75.75 0 1 1-1.061-1.061L6.939 8 3.757 4.818a.75.75 0 1 1 1.061-1.061L8 6.939z"></path></svg>
  </span>
  <div class="avplayer-ui-info-panel" on-keydown="preventDefault()" on-keyup="preventDefault()">
    <div class="avplayer-ui-info-format">
      <span>
        {{{info}}}
      </span>
    </div>
    {{#each list}}
    <div class="avplayer-ui-info-line">
      <span class="avplayer-ui-info-line-title">{{key}}</span>
      <span class="avplayer-ui-info-line-value">{{value}}</span>
    </div>
    {{/each}}
  </div>
  <style>{{{style}}}</style>
</div>