<div class="avplayer-ui-folder">
  <div class="avplayer-ui-folder-open">
    {{#if canOpenFolder}}
    <div class="avplayer-ui-folder-open-dir item" on-click="openDir()">
      <div class="avplayer-ui-folder-icon dir">
        <svg viewBox="0 0 24 24">
          <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path>
        </svg>
      </div>
      <div class="avplayer-ui-folder-open-name">{{language.FOLDER_OPEN_DIR}}</div>
    </div>
    {{/if}}
    <label class="avplayer-ui-folder-open-file item" {{#if canUseFilePicker}} on-click="openFile()" {{else}} for="avplayer-file-open-input" {{/if}}>
      <div class="avplayer-ui-folder-icon file">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(270)"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g> <path d="M21 11V15.8C21 16.9201 21 17.4802 20.782 17.908C20.5903 18.2843 20.2843 18.5903 19.908 18.782C19.4802 19 18.9201 19 17.8 19H6.2C5.0799 19 4.51984 19 4.09202 18.782C3.71569 18.5903 3.40973 18.2843 3.21799 17.908C3 17.4802 3 16.9201 3 15.8V8.2C3 7.0799 3 6.51984 3.21799 6.09202C3.40973 5.71569 3.71569 5.40973 4.09202 5.21799C4.51984 5 5.0799 5 6.2 5H15M21 11L15 5M21 11H16.6C16.0399 11 15.7599 11 15.546 10.891C15.3578 10.7951 15.2049 10.6422 15.109 10.454C15 10.2401 15 9.96005 15 9.4V5" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      </div>
      <div class="avplayer-ui-folder-open-name">{{language.FOLDER_OPEN_FILE}}</div>
      {{#if !canUseFilePicker}} 
        <input accept="{{accept}}" type="file" id="avplayer-file-open-input" style="display: none;" on-change="fileChange()">
      {{/if}}
    </label>
  </div>
  <ul role="list" class="avplayer-ui-folder-list">
    {{#each root}}
      <FolderNode ref="{{this.id}}" key="{{this.name}}" node="{{this}}" />
    {{/each}}
  </ul>
  <div class="avplayer-ui-folder-tip" style="top: {{tipTop}}px" data-show="{{tipShow ? 1 : 0}}">
    {{tip}}
  </div>
  <style>
    {{{style}}}
  </style>
</div>